<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<body>
  <h1>Reset Password</h1>
  <form action="/reset-password" method="post" onsubmit="setToken()">
    <input type="hidden" id="tokenInput" name="token" value="">
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <br>
    <label for="confirmNewPassword">Confirm New Password:</label>
    <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
    <br>
    <button type="submit">Reset Password</button>

    <script>
      function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
      }

      function setToken() {
        var token = getParameterByName('token');
        document.getElementById('tokenInput').value = token;
      }
      window.onload = setToken;
    </script>
  </form>
</body>
</html>
