<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_soilink_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_soilink_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoilInk"
        tools:targetApi="31">
        <activity
            android:name=".view.soildescription.SoilDescriptionActivity"
            android:parentActivityName=".view.soillist.SoilListActivity"
            android:exported="false" />
        <activity
            android:name=".view.soillist.SoilListActivity"
            android:parentActivityName=".view.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.ProfileActivity"
            android:parentActivityName=".view.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.forgotpassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.detailhistory.DetailHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.camera.CameraActivity"
            android:parentActivityName=".view.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.about.AboutActivity"
            android:parentActivityName=".view.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_home_activity" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="false"
            android:label="@string/title_register_activity" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_login_activity" />
        <activity
            android:name=".view.splashscreen.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>